@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(87, 110, 165);
    color: white;
    height: 65px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    list-style-type: none;
    font-style: italic;
}


  .instructions
   {
      margin-top: 8rem;
      margin-left: 18rem;
      margin-bottom: 4rem;
  
      font-family:cursive;
  }

  
.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid rgba(0, 0, 108, 0.407);
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(242, 234, 250);
}

.info {
    font-size: 22px;
}

.gameInfo{
    margin-top: 3rem;
   margin-left: 4rem;
    padding: 0 34px;
    font-family:  cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {

    margin: 30px 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }

  
}