body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50;
}
.navbar-inverse {
	background: #2c3e50;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.jumbotron p:nth-child(3) {
	font-size: 15px;
	text-transform: uppercase;
}

.image {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.image1 {
  background-image: url(https://images.unsplash.com/photo-1543363127-e668c16b7b91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=625&q=80);
}
.image2 {
  background-image: url(https://images.unsplash.com/photo-1536147116438-62679a5e01f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.image3 {
  background-image: url(https://images.unsplash.com/photo-1526754337173-b8db76f598ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.image4 {
  background-image: url(https://images.unsplash.com/photo-1484662810655-23f848c1cc9d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.image5 {
  background-image: url(https://images.unsplash.com/photo-1527049979667-990f1d0d8e7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80);
}
.image6 {
  background-image: url(https://images.unsplash.com/photo-1493503979513-c7463d52a528?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.image7 {
  background-image: url(https://images.unsplash.com/photo-1517816428104-797678c7cf0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.image8 {
  background-image: url(https://images.unsplash.com/photo-1521189823702-255a7471ee5a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
}
.image9 {
  background-image: url(https://images.unsplash.com/photo-1523730205978-59fd1b2965e3?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.social-icon {
  margin: 20px 10px;
}
.footercl{
	align-items: center;
}
.image:hover{
  transform: scale(0.9);
    transition: 0.2s all ease-in;
}
