@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #DBDFFD;
    color: #242F9B;
}
hr{
    width: 80%;
    margin: 1.5rem auto;
}
body{
    padding: 40px 10px;
}

html {
    font-size: 62.5%;
}
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title {
    text-align: center;
    font-size: 4rem;
    margin: 2rem 0rem 1rem 0rem;
}

#img-div {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-around;
    background-color: #9BA3EB;
}
.photo{
    max-width: 30%;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

#img-caption {
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #9BA3EB;
}
p{
    font-size: 5rem;
    background-color: #9BA3EB;
}
#tribute-info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4rem 8rem;
}
h1{
    font-size: 3rem;
    margin: 1rem 0rem;
}
h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem;
}
/* ul{
    list-style: none;
} */
li{
    font-size: 2rem;
    margin: 0.5rem 0rem;
}
.last{
    text-align: center;
    margin: auto;
    font-size: 2.6rem;
    width: 75%;
}
/*                                Media Queries                             */

@media screen and (max-width:500px){
    html {
        font-size: 45%;
    }
    #img-caption{
        width: 60%;
    }
    p{
        font-size: 3rem;
    }
    .main-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width: 501px) and (max-width:998px) {
    p{
        font-size: 30px;
    }
}